<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Books</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">

            </div>
          </div>

        </header>
      </section>

      <section class="main">
        <div>
          <label>id:
            <input #id placeholder="id">
          </label>
          <label>title:
            <input #title placeholder="title">
          </label>
          <label>overview:
            <input #overview placeholder="overview">
          </label>
          <label>price:
            <input #price placeholder="price">
          </label>
          <button (click)="addBook(id.value, title.value, overview.value, price.value); id.value = ''; title.value=''; overview.value=''; price.value=''">
            add
          </button>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Overview</th>
            <th>Price</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let book of books">
            <th scope="row">{{book.id}}</th>
            <td>
              <a routerLink="/book/detail/{{book.id}}"> {{book.title}}</a>
            </td>
            <td>{{book.overview}}</td>
            <td>{{book.price}}</td>
            <td>
              <button title="delete book" (click)="delete(book)">X</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
